/* Global Settings */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Montserrat;
    src: url(/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: Nunito;
    src: url(/Nunito/Nunito-VariableFont_wght.ttf);
}

:root {
    --colorMain: #114d61;
    --colorCTA: #00adb9;
    --colorCTALight: #00adb930;
    --colorDark: #2B393E;
    --colorLight: #f1f4f8;
}

/* /Global Settings */

/* Titles */

.title-partners {
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0.07em;
    text-align: center;
    padding: 1em;
    background-color: var(--colorDark);
    color: #fff;
    margin: 1em 10%;
    border-radius: 4px;
}

.title-landing {
    margin: 5em auto 2.5em auto;
    width: 60%;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 27px;
    line-height: 200%;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--colorMain);
}

.title-beautify {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 27px;
    line-height: 200%;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--colorCTA);
}

.title-main {
    margin: 1.5em 10%;
    position: relative;
    display: inline-block;
    text-align: left;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 25px;
    line-height: 170%;
    letter-spacing: 0.05em;
    color: var(--colorMain);
    padding: 1em .5em .5em .5em;
}

.title-sub {
    width: 50%;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 0.05em;
    text-align: left;
    margin: -1em 10% 3em 10%;
    padding: 1em .5em .5em .5em;
    color: var(--colorDark);
}

.title-main::after {
    content: "";
    position: absolute;
    right: -40px;
    bottom: 0;
    width: 80px;
    height: 6px;
    background-color: var(--colorCTALight);
}

/* /Titles */

/* Containers */

.container-flex {
    width: 100%;
    height: auto;   
    padding: 0 5% 5em 5%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.container-partners {
    width: 100%;
    height: auto;   
    padding: 0 5% 5em 5%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: start;
}

.container-profil {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.container-social {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    margin: 0em auto 8em auto;
}

.container-landing {
    display: flex;
    margin: 5em 0 0 0;
}

.container-landing_left {
    width: 45%;
    height: fit-content;
    padding-bottom: 1em;
background-color: var(--colorLight);
margin-left: 5%;
}

.container-landing_right {
    width: 45%;
    height: fit-content;
padding: 2em 0 1em 0
}

.container-news {
    margin: 0em 50px 0em 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* /Containers */

/*  Cards */

.card-profil {
    margin:  4em auto;
    width: 360px;
    padding: 1.2em;
    height: fit-content;
    background: #FFFFFF;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border-top: 4px solid var(--colorMain);
}

.card-profil_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 170%;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--colorDark);
}

.card-news {
    background-color: #ffffff;
    width: 300px;
    height: auto;
    position: relative;
    border-radius: 4px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding-bottom: 1em;
    margin-bottom: 5em;
}

.card-news_image {
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 1em;
}

.card-news_title {
    width: 85%;
    margin: 1em auto;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: var(--colorMain);
}

.card-news_text {
    font-family: 'Nunito';
    width: 85%;
    margin: 1em auto ;
    font-weight: 400;
    font-size: 15px;
    line-height: 170%;
    color: var(--colorDark);
    margin-bottom: 1.5em;
}

.card-news_group {
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: start;
}

.card-news_action {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 16px;
    color: var(--colorCTA);
    width: fit-content;
    margin: 0 10px 0 10%;
}

.card-news_icon {
    width: 32px;
    height: 32px;
}

.card-perso {
    width: 300px;
    background: #FFFFFF;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.1);
    margin: 2em 25px;
    position: relative;
    border-radius: 2px;
    padding-bottom: 1em;
    border-top: 5px solid var(--colorCTA);
    cursor: pointer;
}

.card-perso:hover > .card-perso::before {
    height: 200px;
}

.card-perso::before {
    content: "";
    width: 100%;
    height: 100px;
    background-color: var(--colorLight);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    clip-path: polygon(0 0, 100% 0%, 100% 29%, 0 100%);
}

.card-perso_block {
    position: relative;
    width: 64px;
    height: 64px;
    border-radius: 5px;
    margin: 2em auto 1em auto;
    background-color: var(--colorMain);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.card-perso_icon {
    width: 32px;
    height: 32px;
}

.card-perso_title {
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: var(--colorMain);
    margin: 1em auto;
    width: 90%;
}

.card-perso_text {
    font-family: 'Nunito';
    font-weight: 500;
    font-size: 15px;
    line-height: 170%;
    text-align: center;
    color: var(--colorDark);
    width: 80%;
    margin: 1em auto;
}

.card-team {
    width: 300px;
    background: #FFFFFF;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin: 2em 25px;
    position: relative;
}

.card-team::before {
    content: "";
    width: 100%;
    height: 100px;
    background-color: var(--colorCTA);
    top: 0;
    left: 0;
    position: absolute;
    z-index: 10;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-image: url(/assets/team-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 5px solid var(--colorMain);
}

.card-team_image {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    display: block;
    margin: 60px auto 25px auto;
    position: relative;
    z-index: 100;
    box-shadow: 5px 5px 10px 0 #114d6150;
}

.card-team_title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: var(--colorMain);
    padding-bottom: .6em;
    text-align: center;
}

.card-team_subtitle {
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 700;
    font-size: 17px;
    line-height: 170%;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--colorCTA);
}

.card-team_action {
    width: 32px;
    height: 32px;
    background-color: var(--colorCTA);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    margin-top: 1em;
    cursor: pointer;
}

.card-dossier {
    width: 300px;
    background: #FFFFFF;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 20px;
    margin: 1em 25px;        
    cursor: pointer;
}

.card-aboutUs {
    width: 300px;
    background: #FFFFFF;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 20px;
    margin: 1em 25px;
    border-top: 4px solid var(--colorCTA);
}

.card-icon {
    width: 48px;
    height: 48px;
    margin-bottom: 1em;
}

.card-title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: var(--colorMain);
    padding-bottom: 1em;
}

.card-text {
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 15px;
    line-height: 170%;
    color: var(--colorDark);
}

.card-adherent {
    width: 500px;
    height: auto;
    padding-bottom: 1em;
    margin: 4em auto;
    border-radius: 2px;
    box-shadow: 0px 10px 10px 2px #0000001A;
    background-color: #fff;
}

.card-adherent_title {
    background-color: var(--colorMain);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 170%;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding: .7em;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    margin-bottom: 1.4em;
}

.card-adherent_row {
    width: 90%;
    display: flex;
    align-items: flex-start;
    margin: 1.5em auto;
}

.card-adherent_subrow {
    width: 90%;
    display: flex;
    align-items: flex-start;
    margin: 1.5em auto;
}

.card-adherent_icon {
    width: 32px;
    height: 32px;
    border-radius: 4px;
}

.card-adherent_text {
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--colorDark);
    margin-left: 15px;
}

.card-adherent_subtext {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: var(--colorDark);
}

.card-adherent_label {
    font-family: 'Montserrat';
    font-weight: 700;
    letter-spacing: 0.05em;
    color: var(--colorMain);
}

.card-adherent_dropdown {
    width: 32px;
    height: 32px;
    display: block;
    margin: 1em auto;
}

.separator-horizontal {
    width: 90%;
    margin: 1em auto;
    height: 10px;
    background-color: var(--colorLight);
}

.card-partner {
    width: 300px;
    padding: 1.5em;
    border-top: 5px solid var(--colorCTA);
    background: #FFFFFF;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
    margin: 2em;
    border-radius: 2px;
}

.card-news_partners {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 16px;
    color: var(--colorCTA);
    width: fit-content;
    margin: 0 10px 0 10%;
}

.card-partner_action {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 16px;
    color: var(--colorCTA);
    width: fit-content;
    margin-top: 1.2em;
    cursor: pointer;
}

.card-mandat {
    background: #FFFFFF;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 300px;
    padding: 1.5em;
    margin: 1em;
}

/* /Cards */

/* Forms */

.form-login {
    position: relative;
    width: 600px;
    background: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.20);
    border-radius: 4px;
    margin: 100px auto;
    padding-bottom: 1.5em;
}

.form-title {
    color: #fff;
    width: 100%;
    background-color: var(--colorMain);
    padding: 1em;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 22px;
    line-height: 170%;
    text-align: center;
    letter-spacing: 0.05em;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    margin-bottom: 2em;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 2em auto;
}

.form-label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 170%;
    letter-spacing: 0.05em;
    color: var(--colorDark);
    margin-bottom: 1em;
}

.form-input {
    background-color: var(--colorLight);
    border-radius: 4px;
    outline: none;
    border: none;
    padding: 12px 16px;
}

::placeholder {
    font-family: Nunito;
    font-size: 15px;
    color: var(--colorDark);
    font-weight: 100;
}

.form-forget {
    padding-top: 1em;
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 16px;
    line-height: 170%;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--colorDark);
    border-top: 2px solid var(--colorLight);
}

.form-link {
    font-weight: bold;
    color: var(--colorCTA);
    font-style: italic;
    cursor: pointer;
}

/* /Forms */

/* CTA */

.button-form  {
    font-family: Nunito;
    background-color: var(--colorCTA);
    padding: 12px 24px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    color: #ffffff;
    margin: 2em auto;
    display: block;
    font-size: 16px;
    letter-spacing: .1em;
    cursor: pointer;
}

.button-profil  {
    font-family: Nunito;
    background-color: var(--colorCTA);
    padding: 12px 16px;
    outline: none;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    margin: 1em auto 0 auto ;
    display: block;
    font-size: 15px;
    letter-spacing: .1em;
    cursor: pointer;
}

.button-social {
    min-width: 150px;
    border-bottom: 2px solid var(--colorCTALight);
    height: 48px;
    width: fit-content;
    padding: 12px 24px;
    border-radius: 5px;
    background: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.05em;
    color: var(--colorDark);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button-landing {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 170%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    height: 60px;
    background: var(--colorCTA);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 2em;
    width: fit-content;
    margin: 0 0 2em 10%;
    cursor: pointer;
}

.button-landing_icon {
    width: 28px;
    height: 28px;
    margin-right: 1em;
}

/* /CTA */

/* Texts */

.text-landing {
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 20px;
    line-height: 170%; 
    letter-spacing: 0.05em;
    margin: 0 10% 2em 10%;
    padding: 0 0 .5em .5em;
    color: var(--colorDark);
}

.text-landing_beautify {
    color: var(--colorCTA);
    font-weight: bold;
}

.text-beautify {
    font-weight: bold;
    color: var(--colorCTA);
}

/* /Texts /*

/* Design elements */

.form-login::before {
    content: url(/assets/leaf-light.png);
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: -100;
    top: -100px;
    left: -100px;
}

.form-login::after {
    content: url(/assets/leaf-dark.png);
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: -100;
    bottom: -100px;
    right: -100px;
    transform: rotate(180deg);
}


.landing-row {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 170%;
    letter-spacing: 0.05em;
    color: var(--colorDark);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2em 10%;
    width: fit-content;
}

.landing-row_figure {
    width: 30px;
    height: 30px;
    margin-right: 18px;
    background: #FFFFFF;
    box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.08);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-row_icon {
    width: 14px;
    height: 14px;
    margin-top: 2px;
}

.body-background_half {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 50vh;
    background-color: var(--colorLight);
    z-index: -100;
}

/* /Design elements */

/* Responsive mobile */

@media screen and (max-width:425px) {

    /* Titles mobile */

    .title-main {
        margin: 1em 10% .7em 10%;
        padding: 1em .5em .5em .5em;
        font-size: 20px;
    }

    /* /Titles mobile */

    /* Cards mobile */

    .card-dossier {
        margin: .7em auto;
        padding: 15px;
        width: 95%;
        border-radius: 10px;
    }

    .card-aboutUs {
        margin: .7em auto;
        padding: 15px;
        width: 95%;
        border-radius: 10px;
    }

    .card-perso  {
        width: 95%;
        margin: .7em auto;
        border-radius: 10px;
    }

    /* /Cards mobile */
}